<div class="">
    <h2 style="text-align: center">DAYS</h2>
    <p>
        <a href="/">
            <h4 class="">Home</h4>
        </a>
    </p>
    <form action="/delete" method="POST">
        <button class="negative ui button" type="submit">Delete shifts</button>
    </form>
    <div class="mdl-grid">

        {{#each sortedShifts}}

        <ul id="shiftdays">
            <h6>{{day_name}}</h6>
            {{#each shifts}}
            <li class={{../color}}>{{ this }}</li>
            {{/each}}
        </ul>
        {{/each}}
    </div>

</div>