<div class="">
    <h2 style="text-align: center">Waiter Availability</h2>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell-12-col">

            <form action="/login" method="POST">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    Enter user name:
                    <input class="mdl-textfield__input " type="text" name="userName">
                </div>
                <button class="mdl-button mdl-js-button mdl-button--primary" type="submit">
                    Log In
                </button>
            </form>
        </div>
        

    </div>

</div>

